:root {
    --main-background-color: #588c7e;
    --second-background-color: #789c8a;
    --third-background-color: #bcc595;
    --main-font-color: #ffffff;
    --font-color: #d2eb97;
    --accent-color: #f7e4aa;
  }
  